<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- Importa tu archivo CSS -->
          <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <title>Document</title>
</head>
<body>
    <h1>Datos del usuario</h1>
    <a th:href="@{/}">Volver</a>
    <form  th:action="@{/guardar}" th:object="${usuarios}" method="post">
       
        <!-- <input type="hidden" th:field="*{user}" /> -->
        <label for="user">User:</label>
        <input type="text" th:field="*{user}" id="user"  name="user" />
        <br/>
        <br/>
        <label for="nombre">Nombre:</label>
        <input type="text" th:field="*{nombre}" id="nombre"/>
        <br/>
        <br/>
        <label for="password">Password:</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <br/>
        <label for="tipo">Tipo:</label>
        <input type="number" th:field="*{tipo}" id="tipo"/>
        <br/>
        <input type="submit" value="Guardar"/>
    </form>
</body>
</html>